.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  h1 {
    text-align: center;
  }
}
