.rulesContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.singleRuleContainer {
  text-align: left;
  height: auto;

  .ruleTitle {
    cursor: pointer;
    width: fit-content;
    display: flex;
    gap: 1rem;

    &:hover {
      color: #174156;
    }
  }

  .pContainer {
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: #90dbf433;
    padding: 1rem 2rem;
    border-radius: 8px;

    p {
      font-weight: 500;

      span {
        font-weight: 600;
        margin-left: 0.5rem;
        padding: 0.2rem;
        border-radius: 8px;
        background-color: #b9fbc4;
        color: black;
      }
    }
  }
}
