.rulesContainer {
  text-align: left;
  height: auto;

  .rulesTitle {
    cursor: pointer;
    width: fit-content;
    display: flex;
    transition: 0.3s;
    gap: 1rem;

    &:hover {
      color: #174156;
    }
  }

  .explContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
}
