.formContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;

  form {
    text-align: left;
    display: flex;
    flex-direction: column;

    input {
      margin-top: 1rem;
    }
    label {
      margin-top: 0.5rem;
      font-size: 0.95rem;
    }
  }

  .decorCode {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
  }
}
